<form [formGroup]="myForm">
	Value: {{myForm.value | json}}

	<hr>

	<mat-form-field>
		<input matInput placeholder="email" formControlName="email">
    <mat-error *ngIf="email.invalid && email.touched">
      Your email isnt right
    </mat-error>
  </mat-form-field>

<mat-form-field>
			<textarea matInput placeholder="password" formControlName="password"> </textarea>
      <mat-hint align="end">Must have 1 letter and numer</mat-hint>
      <mat-error *ngIf="password.invalid && password.touched">
      your pw is awful
    </mat-error>
		</mat-form-field>

    <mat-form-field>
			<textarea matInput placeholder="age" formControlName="age"> </textarea>
      
        <mat-error *ngIf="age.errors?.min && age.touched">
        {{ age.errors.min.actual}} is too young!!
      </mat-error>

      <mat-error *ngIf="age.errors?.max && age.touched">
        {{ age.errors.max.actual}} is too old!
      </mat-error>
		</mat-form-field>

		<mat-form-field>
			<textarea matInput placeholder="your msg" formControlName="message"> </textarea>
		</mat-form-field>

		<mat-form-field>
			<textarea matInput placeholder="career" formControlName="career"> </textarea>
		</mat-form-field>
		 <button mat-raised-button color="primary" (click)="sumbitAllData()">Submit data</button>
		

          
		
		<h1> phone stuff 2 </h1>
		<div formArrayName="phones">
			<div *ngFor="let phone of phoneForms.controls; let i=index" [formGroupName]="i">
				   <div formGroupName="cellPhone">
            <mat-form-field>
              <input matInput placeholder="area" formControlName="area">
          </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="prefix" formControlName="prefix">
          </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="line" formControlName="line">
          </mat-form-field>
          </div>
            <button mat-raised-button color="primary" (click)="deletePhone(i)"> Delete phone</button>

			</div>

		</div>
    <button mat-raised-button color="primary" (click)="addPhone()"> Add phone</button>
</form>